import wso2/gateway;

public function main() {
    {{#each this}}
    string[] {{cut qualifiedServiceName " "}}_service = [{{#paths}}{{#value}}{{#operations}}{{#value}} "{{operationId}}"{{#unless @last}},{{/unless}}
                                {{/value}}{{/operations}}{{/value}}{{#unless @last}},{{/unless}}{{/paths}}];
    gateway:populateAnnotationMaps("{{cut qualifiedServiceName " "}}", {{cut qualifiedServiceName " "}}, {{cut qualifiedServiceName " "}}_service);
    {{/each}}

    initThrottlePolicies();

    {{>jwtRevocation}}
    startupExtension();
    error? err = springMain();
    if(err is error) {
        log:printError("error calling spring main", err=err);
    }
}

public function springMain() returns error? {
    handle args = java:createNull();
    return jSpringMain(args);
}

function jSpringMain(handle args) returns error? = @java:Method {
    name: "main",
    class: "org.springframework.boot.loader.JarLauncher"
} external;